<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">名前:
  <%= f.text_field :name %>
  </div>
  <div class="form-group">内容:
  <%= f.text_area :body, :size=>"20x3" %>
  </div>
  <div class="form-group">
  <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
<% end %>